.nav-link{
    font-family: questrial;
    font-weight: 300;
}

.nav-link:hover{
    color: $btn-back !important;
}

.sitename:hover{
    color: $title !important;
}

#nav-toggle:checked + .open-icon{
}

nav{
    width: 80%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  
}


.scroll-top{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 1vw;
    width: 2vw;
    height: 2vw;
    padding: 0.5vw;
    background-color: $btn-back;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-weight: bold !important;
    color: #F7FBFC;
}



@media (max-width: 428px){
nav{
    width: 90%;
}
    .navigation {
      width: 100vw;
      height: 90vh;
      align-items: center;
      justify-content: center;
        position:fixed;
        top: 10vh;
        left: -200%;
        background: white !important;
        
      
    }
    #nav-toggle:checked ~ .navigation {
      
  
        left: 0vw;
    }

}
 