.nav-link{
    font-family: questrial;
    font-weight: 300;
}

.nav-link:hover{
    color: $btn-back !important;
}

.sitename:hover{
    color: $title !important;
}



nav{
    width: 80%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  
}




 